<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ROBOTS" content="ALL" />
  <meta content="PopHub">
  <meta content="PopHub" name="description">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{% endblock %}PopHub</title>
  <link href="{{ url_to('/static/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ url_to('/static/css/pophub.css') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_to('/static/bootstrap/js/bootstrap.min.js') }}"></script>
</head>
<body>
  <nav class="top-nav" role="navigation">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 class="site-brand"><a href="/">PopHub</a></h1>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul>
      <li><span class="glyphicon glyphicon-home"></span><a href="{{ url_to('/') }}">Home</a></li>
      <li><span class="glyphicon glyphicon-user"></span><a href="{{ url_to('users') }}">All users</a></li>
      {% if authenticated %}
        <li class="right"><span class="glyphicon glyphicon-off"></span><a href="{{ url_to('logout') }}">Logout</a></li>
        <li class="right"><span class="glyphicon glyphicon-user"></span><a href="{{ url_to('user') }}">Your profile</a></li>
      {% else %}
        <li class="right"><span class="glyphicon glyphicon-lock"></span><a href="{{ url_to('login') }}">Sign in with GitHub</a></li>
      {% endif %}
    </ul>
    </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>