{% extends "base.html" %}

{% block title %}Users - {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <ul class="pagination">
          {% if pages.first %}
            {% if sort %}
              <li><a href="{{ url_to('users') }}?sort_by={{ sort }}&amp;page={{ pages.first }}">First page</a></li>
            {% else %}
              <li><a href="{{ url_to('users') }}?page={{ pages.first }}">First page</a></li>
            {% endif %}
          {% endif %}

          {% if pages.prev %}
            {% if sort %}
              <li><a href="{{ url_to('users') }}?sort_by={{ sort }}&amp;page={{ pages.prev }}">&laquo;</a></li>
            {% else %}
              <li><a href="{{ url_to('users') }}?page={{ pages.prev }}">&laquo;</a></li>
            {% endif %}
          {% endif %}

          {% for i in 1..num_of_pages %}
            {% if sort %}
              <li><a href="{{ url_to('users') }}?sort_by={{ sort }}&amp;page={{ i }}">{{ i }}</a></li>
            {% else %}
              <li><a href="{{ url_to('users') }}?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if pages.next %}
            {% if sort %}
              <li><a href="{{ url_to('users') }}?sort_by={{ sort }}&amp;page={{ pages.next }}">&raquo;</a></li>
            {% else %}
              <li><a href="{{ url_to('users') }}?page={{ pages.next }}">&raquo;</a></li>
            {% endif %}
          {% endif %}

          {% if pages.last %}
            {% if sort %}
              <li><a href="{{ url_to('users') }}?sort_by={{ sort }}&amp;page={{ pages.last }}">Last page</a></li>
            {% else %}
              <li><a href="{{ url_to('users') }}?page={{ pages.last }}">Last page</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  {% if sort %}
    <a href="{{ url_to('users') }}" class="btn btn-primary" role="button">Sort by followers (default)</a>
  {% else %}
    <a href="{{ url_to('users') }}?sort_by=repos" class="btn btn-primary" role="button">Sort by repos</a>
  {% endif %}


  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Sort by language <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      {% if sort %}
        <li><a href="{{ url_to('users') }}?sort_by=repos&amp;language=php">PHP</a></li>
        <li><a href="{{ url_to('users') }}?sort_by=repos&amp;language=ruby">Ruby</a></li>
        <li><a href="{{ url_to('users') }}?sort_by=repos&amp;language=python">Python</a></li>
      {% else %}
        <li><a href="{{ url_to('users') }}?language=php">PHP</a></li>
        <li><a href="{{ url_to('users') }}?language=ruby">Ruby</a></li>
        <li><a href="{{ url_to('users') }}?language=python">Python</a></li>
      {% endif %}
    </ul>
  </div>

  <div class="row">
    {% for user in users.items %}

    <div class="col-xs-6 col-md-2">
      <div class="thumbnail">
        <img src="{{ user.avatar_url }}&amp;s=128" height="128" width="155" />
        <div class="caption">
          <h2><a href="{{ url_to('users') }}/{{ user.login }}">{{ user.login }}</a></h2>
          {{ user.followers }}
          {{ user.public_repos }}
          {% if authenticated %}
            <p>
              <a href="{{ url_to('users') }}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-user"></span>
                Follow</a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

    <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <ul class="pagination">
          {% if pages.first %}
            {% if sort %}
              <li><a href="{{ url_to('users') }}?sort_by={{ sort }}&amp;page={{ pages.first }}">First page</a></li>
            {% else %}
              <li><a href="{{ url_to('users') }}?page={{ pages.first }}">First page</a></li>
            {% endif %}
          {% endif %}

          {% if pages.prev %}
            {% if sort %}
              <li><a href="{{ url_to('users') }}?sort_by={{ sort }}&amp;page={{ pages.prev }}">&laquo;</a></li>
            {% else %}
              <li><a href="{{ url_to('users') }}?page={{ pages.prev }}">&laquo;</a></li>
            {% endif %}
          {% endif %}

          {% for i in 1..num_of_pages %}
            {% if sort %}
              <li><a href="{{ url_to('users') }}?sort_by={{ sort }}&amp;page={{ i }}">{{ i }}</a></li>
            {% else %}
              <li><a href="{{ url_to('users') }}?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if pages.next %}
            {% if sort %}
              <li><a href="{{ url_to('users') }}?sort_by={{ sort }}&amp;page={{ pages.next }}">&raquo;</a></li>
            {% else %}
              <li><a href="{{ url_to('users') }}?page={{ pages.next }}">&raquo;</a></li>
            {% endif %}
          {% endif %}

          {% if pages.last %}
            {% if sort %}
              <li><a href="{{ url_to('users') }}?sort_by={{ sort }}&amp;page={{ pages.last }}">Last page</a></li>
            {% else %}
              <li><a href="{{ url_to('users') }}?page={{ pages.last }}">Last page</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}