language: php

php:
  #- 5.3
  - 5.4
  - 5.5
  - 5.6

services:
  - memcached

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev
  - echo "extension = memcached.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit --verbose --coverage-clover build/logs/clover.xml app/

after_script:
  - vendor/bin/coveralls

matrix:
  fast_finish: true