.top-nav {
  background: #40454f;
  width: 100%;
  height: auto;
  display: block;
  min-height: 90px;
  color: #FFF;
  line-height: 60px;
  /*margin-bottom: 2em;*/
}

.site-brand {
  float: left;
  font-size: 2em;
  margin: 1em 0 1em 1em;
  height: 30px;
}

.top-nav a {
  color: #FFF;
}

.top-nav a:hover {
  text-decoration: none;
  color: #FFF;
}

@media (max-width: 480px) {

  .top-nav span {
    float: left;
    margin: 0.75em 0.5em 0.5em 0.5em;
  }

  .top-nav span:hover {
    color: blue;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: #5F7091;
    text-decoration: none;
  }
}

.top-nav ul {
  float: left;
  width: 85%;
  list-style-type: none;
  padding: 0;
  margin: 1em 0 1em 1em;
}

.top-nav ul li {
  display: inline-block;
  margin: 0 0 0 2em;
}

.top-nav ul li.right {
  float: right;
}

.top-nav ul li a {
  color: #FFF;
  margin: 0 0 0 0.5em;
}

.top-nav ul li a:hover {
  text-decoration: underline;
}

.thumbnail img {
  border-radius: 4px;
}


h2 a {
  color: #40454f;
}

.thumbnail {
  margin-top: 2em;
}

.caption h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5em;
}

.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.list-group {
  margin-top: 2em;
}

.list-group-item h3 {
  margin: 0;
  padding: 0;
}