{% extends "base.html" %}

{% block content %}

<header class="welcome">
  <div class="asd">
    <div class="row">
      <div class="col-lg-12">
        <h1>Welcome to PopHub!</h1>
        <p class="lead">
          PopHub is <strong>the</strong> place for finding interesting things on GitHub.
        </p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>What is PopHub?</h2>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <p>
        PopHub is a free service for finding interesting things on GitHub, for example interesting people according to followers, repositories or some other factor.
      </p>
      <p>
        You can choose to follow people or not. You do not need an account to see all those interesting things.
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        Start by signing in through your GitHub-account. And you can start follow all those interesting people!
      </p>
    </div>
  </div>
</div>


{% endblock %}