{% extends "base.html" %}

{% block title %}{{ user.login }} - User - {% endblock %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3">

      <div class="thumbnail">
        <img src='{{ user.avatar }}&amp;s=250' height='250' />
        <div class="caption">
          <h2>{{ user.login }}</h2>
          <h3>{{ user.name }}</h3>
          <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            {% if user.email %}
              <li>
                <a href="mailto:{{ user.email }}">
                  <span class="glyphicon glyphicon-envelope"></span>{{ user.email }}
                </a>
              </li>
            {% endif %}
            {% if user.location %}
              <li><span class="glyphicon glyphicon-map-marker"></span>{{ user.location }}</li>
            {% endif %}
            <li><span class="glyphicon glyphicon-time"></span>{{ user.joined|date("F j, Y") }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <ul class="list-group">
        <li class="list-group-item"><h3>What have the people you follow been up to lately?</h3></li>
        {% for eventuser in events %}
          {% for event in eventuser %}


          {% if event.type == "WatchEvent" %}
            <li class="list-group-item">
              <a href="{{ url_to('users') }}/{{ event.user.login }}">
                {{ event.user.login }}
              </a>
              starred
              <a href="https://github.com/{{ event.repo.name }}">
                {{ event.repo.name }}
              </a>
              <span class="glyphicon glyphicon-share"></span>
              <time datetime="{{ event.created }}">{{ event.created|date("F j, Y") }}</time>
            </li>
          {% elseif event.type == "PushEvent" %}
            <li class="list-group-item">
              <a href="{{ url_to('users') }}/{{ event.user.login }}">
                {{ event.user.login }}
              </a>
              pushed to {{ event.payload.ref }} at
              <a href="https://github.com/{{ event.repo.name }}">
                {{ event.repo.name }}
              </a>
              <span class="glyphicon glyphicon-share"></span>
              <time datetime="{{ event.created }}">{{ event.created|date("F j, Y") }}</time>
            </li>
          {% elseif event.type == "CreateEvent" %}
            {% if event.payload.ref %}
              <li class="list-group-item">
                <a href="{{ url_to('users') }}/{{ event.user.login }}">
                  {{ event.user.login }}
                </a>
                created branch {{ event.payload.ref }} at
                <a href="https://github.com/{{ event.repo.name }}">
                  {{ event.repo.name }}
                </a>
                <span class="glyphicon glyphicon-share"></span>
                <time datetime="{{ event.created }}">{{ event.created|date("F j, Y") }}</time>
              </li>
            {% else %}
              <li class="list-group-item">
                <a href="{{ url_to('users') }}/{{ event.user.login }}">
                  {{ event.user.login }}
                </a>
                created repository
                <a href="https://github.com/{{ event.repo.name }}">
                  {{ event.repo.name }}
                </a>
                <span class="glyphicon glyphicon-share"></span>
                <time datetime="{{ event.created }}">{{ event.created|date("F j, Y") }}</time>
              </li>
            {% endif %}
          {% elseif event.type == "DeleteEvent" %}
            <li class="list-group-item">
              <a href="{{ url_to('users') }}/{{ event.user.login }}">
                {{ event.user.login }}
              </a>
              deleted branch {{ event.payload.ref }} at {{ event.repo.name }}
              <time datetime="{{ event.created }}">{{ event.created|date("F j, Y") }}</time>
            </li>
          {% elseif event.type == "ReleaseEvent" %}
            <li class="list-group-item">
              <a href="{{ url_to('users') }}/{{ event.user.login }}">
                {{ event.user.login }}
              </a>
              released
              <a href="{{ event.payload.release.html_url }}">
                {{ event.payload.release.name }}
              </a>
              at {{ event.repo.name }}
              <time datetime="{{ event.created }}">{{ event.created|date("F j, Y") }}</time>
            </li>
          {% endif %}
          {% endfor %}
        {% else %}
          <li class="list-group-item">You do not follow any users!</li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-6 col-md-3">
      <ul class="list-group">
        <li class="list-group-item"><h3>People you follow</h3></li>
        {% for follower in followers %}
          <li class="list-group-item"><a href="{{ url_to('users') }}/{{ follower.user }}">{{ follower.user }}</a></li>
        {% else %}
          <li class="list-group-item">You do not follow any users!</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}