{% extends "base.html" %}

{% block title %}Search - {% endblock %}

{% block content %}
  <div class="row">
    {% for user in users %}
      <div class="col-xs-6 col-md-2">
        <div class="thumbnail">
          <img src="{{ user.avatar }}&amp;s=128" height="128" width="155" />
          <div class="caption">
            <h2><a href="{{ url_to('users') }}/{{ user.login }}">{{ user.login }}</a></h2>
            {{ user.followers }}
            {{ user.public_repos }}
            {% if authenticated %}
              {% if user.isfollowed %}
                <p>
                  <a href="{{ url_to('unfollow') }}/{{ user.login }}" class="btn btn-danger" role="button">
                    <span class="glyphicon glyphicon-user"></span>
                    Unfollow
                  </a>
                </p>
              {% else %}
              <p>
                <a href="{{ url_to('follow') }}/{{ user.login }}" class="btn btn-primary" role="button">
                  <span class="glyphicon glyphicon-user"></span>
                  Follow
                </a>
              </p>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}