{% extends "base.html" %}

{% block title %}{{ user.login }} - User - {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-6 col-md-3">

      <div class="thumbnail">
        <img src='{{ user.avatar }}&amp;s=250' height='250' />
        <div class="caption">
          <h2>{{ user.login }}</h2>
          <h3>{{ user.name }}</h3>
          <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            {% if user.email %}
              <li>
                <a href="mailto:{{ user.email }}">
                  <span class="glyphicon glyphicon-envelope"></span>{{ user.email }}
                </a>
              </li>
            {% endif %}
            {% if user.location %}
              <li><span class="glyphicon glyphicon-map-marker"></span>{{ user.location }}</li>
            {% endif %}
            <li><span class="glyphicon glyphicon-time"></span>{{ user.joined|date("F j, Y") }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <ul class="list-group">
        <li class="list-group-item"><h3>Repos on Github</h3></li>
        {% for repo in repos %}
          <li class="list-group-item">
            <a href="https://github.com/{{ repo.owner.login }}/{{ repo.name }}">
              {{ repo.name }}
            </a>
            <span class="glyphicon glyphicon-share"></span>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-6 col-md-4">
      <ul class="list-group">
        <li class="list-group-item"><h3>Followers on Github</h3></li>
        {% for follower in followers %}
          <li class="list-group-item">
            <a href="{{ url_to('users') }}/{{ follower.user.login }}">
              {{ follower.user.login }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}