{% extends "base.html" %}

{% block title %}Users - {% endblock %}

{% block content %}
  {% include "includes/pagination.html" %}

  {% if message.failure %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      {{ message.failure }}
    </div>
  {% elseif message.success %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      {{ message.success }}
    </div>
  {% endif %}

  {% if sort %}
    <a href="{{ url_to('users') }}" class="btn btn-primary" role="button">Sort by followers (default)</a>
  {% else %}
    <a href="{{ url_to('users') }}?sort_by=repos" class="btn btn-primary" role="button">Sort by repos</a>
  {% endif %}

  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Sort by language <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      {% if sort %}
        <li><a href="{{ url_to('users') }}?sort_by=repos&amp;language=php">PHP</a></li>
        <li><a href="{{ url_to('users') }}?sort_by=repos&amp;language=ruby">Ruby</a></li>
        <li><a href="{{ url_to('users') }}?sort_by=repos&amp;language=python">Python</a></li>
      {% else %}
        <li><a href="{{ url_to('users') }}?language=php">PHP</a></li>
        <li><a href="{{ url_to('users') }}?language=ruby">Ruby</a></li>
        <li><a href="{{ url_to('users') }}?language=python">Python</a></li>
      {% endif %}
    </ul>
  </div>

  <div class="row">
    {% for user in users %}
      <div class="col-xs-6 col-md-2">
        <div class="thumbnail">
          <img src="{{ user.avatar }}&amp;s=128" height="128" width="155" />
          <div class="caption">
            <h2><a href="{{ url_to('users') }}/{{ user.login }}">{{ user.login }}</a></h2>
            {{ user.followers }}
            {{ user.public_repos }}
            {% if authenticated %}
              {% if user.isfollowed %}
                <p>
                  <a href="{{ url_to('unfollow') }}/{{ user.login }}" class="btn btn-danger" role="button">
                    <span class="glyphicon glyphicon-user"></span>
                    Unfollow
                  </a>
                </p>
              {% else %}
              <p>
                <a href="{{ url_to('follow') }}/{{ user.login }}" class="btn btn-primary" role="button">
                  <span class="glyphicon glyphicon-user"></span>
                  Follow
                </a>
              </p>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% include "includes/pagination.html" %}
{% endblock %}